﻿<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Hi {{currentUser.name}}!</span>
        <button class="toolbar-icon" [routerLink]="['']" mat-button>Clients</button>
        <button class="toolbar-icon" (click)="goToPolicyMenu()" mat-button>Policies</button>
        <span class="toolbar-spacer"></span>
        <button class="toolbar-icon" align="right" [routerLink]="['/login']" mat-button>Logout</button>
    </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row">
    <div fxFlex="90%">
        <h1></h1>
    </div>
    <div fxFlex="10%">

    </div>
</div>

<div style="text-align:center">
    <h3>All clients:</h3>
</div>

<table cellspacing="0">
    <tr>
        <td>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
        </td>
        <td>
            <mat-form-field>
                <mat-select placeholder="Filter" [(ngModel)]="selectedValue" name="filter">
                    <mat-option *ngFor="let filter of filters" [value]="filter.value">
                        {{filter.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </tr>
</table>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
            <td mat-cell *matCellDef="let row"> {{row.role}} </td>
        </ng-container>

        <ng-container matColumnDef="policy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Policy </th>
            <td mat-cell *matCellDef="let row">
                <button (click)="goToPolicy(row.id)" mat-button>Policies</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>