﻿<div style="text-align:center">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
            </mat-form-field>
        </div>
        <div class="form-group">
            <button mat-raised-button>Login</button>
        </div>
    </form>
</div>