<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Hi {{currentUser.name}}!</span>
        <button class="toolbar-icon" [routerLink]="['']" mat-button>Clients</button>
        <button class="toolbar-icon" [routerLink]="['/policy']" mat-button>Policies</button>
        <span class="toolbar-spacer"></span>
        <button class="toolbar-icon" align="right" [routerLink]="['/login']" mat-button>Logout</button>
    </mat-toolbar-row>
</mat-toolbar>

<div style="text-align:center">
    <h3>All policies:</h3>
</div>

<!-- <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by email">
</mat-form-field> -->

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="amountInsured">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount insured </th>
            <td mat-cell *matCellDef="let row"> {{row.amountInsured}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>

        <ng-container matColumnDef="inceptionDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let row"> {{row.inceptionDate}} </td>
        </ng-container>

        <ng-container matColumnDef="installmentPayment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Installment payment </th>
            <td mat-cell *matCellDef="let row"> {{row.installmentPayment}} </td>
        </ng-container>

        <ng-container matColumnDef="clientId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Client id </th>
            <td mat-cell *matCellDef="let row">
                <button (click)="goToClients(row.clientId)" mat-button>{{row.clientId}}</button>                
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>